.elementor-83 .elementor-element.elementor-element-5594124 {
    padding: 50px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-8672ea3 {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-0afe9fc>.elementor-widget-container {
    padding: 0px 150px 0px 150px;
}

.elementor-83 .elementor-element.elementor-element-9ee71df {
    padding: 50px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-3082772 {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-3082772>.elementor-widget-container {
    background-color: #42773f;
}

.elementor-83 .elementor-element.elementor-element-7559375>.elementor-widget-container {
    padding: 0px 150px 0px 150px;
}

.elementor-83 .elementor-element.elementor-element-7ca522d {
    padding: 50px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-464afe2 {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-464afe2>.elementor-widget-container {
    background-color: #3d3d49;
}

.elementor-83 .elementor-element.elementor-element-e7bd134>.elementor-widget-container {
    padding: 0px 150px 0px 150px;
}